.side
  .side__head
    .side__head--users
      = current_user.name
      .user__btn
        .user__postbtn
          = link_to new_group_path do
            <i class="far fa-edit"></i>
        .user__settingbtn
          = link_to edit_user_path(current_user) do
            <i class="fas fa-cog fa-fw"></i>

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
            .messagepreview
              = group.show_last_message